#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  height: 100%;
  position: relative;
}
img {
  max-width: 100%;
}
.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 60%;
  background-color: aquamarine;
  height: 60%;
}
.property {
  height: 50px;
}
.response {
  height: 70px;
}
.part1 {
  position: relative;
  background-color: rgb(218, 212, 202);
  padding: 2rem;
  height: 20%;
}
.part1 img {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.part2 {
  background-color: rgb(255, 255, 255);
  padding: 5rem 20px 10px;
  height: 60%;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
.hovers {
  display: flex;
  justify-content: space-around;
}
.icon {
  background-color: aliceblue;
  height: 100%;
  width: 30px;
  padding: 5px;
  border-radius: 1000px;
}
